{
  email alex.barbalex@gmail.com
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

brexit-chronology.ch, www.brexit-chronology.ch {
  root * /html
  encode zstd gzip
  file_server
  
  reverse_proxy /brexit/* {
    to bb_db:5984
  }
  
  # need to add this because it us used by couchdb when logging in
  reverse_proxy /_session {
    to bb_db:5984
  }
}

# BEWARE: this does not work, cors-errors
api.brexit-chronology.ch {
  reverse_proxy brexit_db:5984 {
    header_down Access-Control-Allow-Origin https://brexit-chronology.ch
    header_down Access-Control-Allow-Credentials true
    header_up Host {http.request.host}
    header_up X-Real-IP {http.request.remote}
    header_up X-Forwarded-For {http.request.remote}
    header_up X-Forwarded-Port {http.request.port}
    header_up X-Forwarded-Proto {http.request.scheme}
  }
}
