<table style="width: 1002px; border-collapse: collapse; margin-left: -1.7pt;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 16.5pt;">
<td style="height: 16.5pt; width: 276.45pt; background: #fabf8f; border: windowtext 1pt solid; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="369">
<p style="text-align: center; margin: 6pt 0cm; line-height: normal;" align="center">&nbsp;</p>
<p style="text-align: center; margin: 6pt 0cm; line-height: normal;" align="center"><span style="font-family: arial black,avant garde;"><strong><span style="font-size: 9pt;">Italy&nbsp;<br />Sicily, Calabria, Apulia, Lampedusa </span></strong></span></p>
</td>
<td style="border-top: windowtext 1pt solid; height: 16.5pt; border-right: windowtext 1pt solid; width: 134.65pt; background: #fabf8f; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="180">
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="text-align: center; margin: 6pt 0cm 0pt; line-height: normal;" align="center"><span style="font-family: arial black,avant garde;"><strong><span style="font-size: 9pt;">Malta</span></strong></span></p>
</td>
<td style="border-top: windowtext 1pt solid; height: 16.5pt; border-right: windowtext 1pt solid; width: 163pt; background: #fabf8f; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="217">
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center"><span style="font-family: arial black,avant garde;"><strong><span style="font-size: 8pt;">Tunisia, Libya, Egypt,</span></strong></span></p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center"><span style="font-family: arial black,avant garde;"><strong><span style="font-size: 8pt;">miscellaneous info</span></strong> </span></p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
</td>
<td style="border-top: windowtext 1pt solid; height: 16.5pt; border-right: windowtext 1pt solid; width: 177.2pt; background: #fabf8f; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="236">
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center"><span style="font-family: arial black,avant garde;"><strong><span style="font-size: 8pt;">UN, European Union</span></strong></span><span style="color: inherit; font-family: inherit; font-size: inherit;">&nbsp;</span></p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center"><span style="font-family: arial black,avant garde;"><strong><span style="font-size: 9pt;"><strong><span style="font-size: 8pt;">Diplomacy, Politics, Law</span></strong></span></strong></span></p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
</td>
</tr>
<tr>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 155.95pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="208">
<p style="margin-bottom: 0pt; text-align: left; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 6pt; text-align: center; line-height: normal;" align="center"><strong><span style="text-decoration: underline;"><span style="font-size: 8pt;">Arrivals UNHCR</span></span></strong></p>
<p style="text-align: center;"><span style="font-size: 8pt;"><strong>2015 mon. ...</strong></span></p>
<p style="text-align: center;"><span style="font-size: 8pt;"><strong>2015 cum. ...</strong></span></p>
<p style="text-align: center;"><span style="font-size: 8pt;">2014 mon. ...</span></p>
<p style="text-align: center;"><span style="font-size: 8pt;">2014 cum. ...</span></p>
<p style="text-align: center;">&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 134.65pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="180">
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 6pt; text-align: center; line-height: normal;" align="center"><strong><span style="text-decoration: underline;"><span style="font-size: 8pt;">Arrivals</span></span></strong></p>
<p style="padding-left: 30px;"><strong><span style="font-size: 8pt;">2015 mon. ..</span></strong></p>
<p style="padding-left: 30px;"><strong><span style="font-size: 8pt;">2015 cum. ... </span></strong></p>
<p style="padding-left: 30px;"><span style="font-size: 8pt;">2014 mon. ...</span></p>
<p style="padding-left: 30px;"><span style="font-size: 8pt;">2014 cum. </span><span style="font-size: 8pt;">...</span></p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 163pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="217">
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 6pt; text-align: center; line-height: normal;" align="center"><strong><span style="text-decoration: underline;"><span style="font-size: 8pt;">Victims</span></span></strong></p>
<p style="margin: 0cm 0cm 0pt 35.4pt; line-height: normal;"><strong><span style="font-size: 8pt;">2015 mon. &nbsp; &nbsp; &nbsp; 8</span></strong></p>
<p style="margin: 0cm 0cm 0pt 35.4pt; line-height: normal;"><strong><span style="font-size: 8pt;">2015 cum. 2'310</span></strong></p>
<p style="margin: 0cm 0cm 0pt 35.4pt; line-height: normal;"><span style="font-size: 8pt;">2014 mon. ...</span></p>
<p style="margin: 0cm 0cm 0pt 35.4pt; line-height: normal;"><span style="font-size: 8pt;">2014 cum. ... </span></p>
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 177.2pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="236">
<p style="margin-bottom: 0pt; text-align: center; line-height: normal;" align="center">&nbsp;</p>
<p style="margin-bottom: 6pt; text-align: center; line-height: normal;" align="center"><strong><span style="text-decoration: underline;"><span style="font-size: 8pt;">Total Arrivals</span></span></strong></p>
<p style="text-align: justify; margin: 0cm 0cm 0pt 35.4pt; line-height: normal;"><strong><span style="font-size: 8pt;">2015 mon. ...</span></strong></p>
<p style="text-align: justify; margin: 0cm 0cm 0pt 35.4pt; line-height: normal;"><strong><span style="font-size: 8pt;">2015 cum. ...</span></strong></p>
<p style="text-align: justify; margin: 0cm 0cm 0pt 35.4pt; line-height: normal;"><span style="font-size: 8pt;">2014 mon. ...</span></p>
<p style="text-align: justify; margin: 0cm 0cm 0pt 35.4pt; line-height: normal;"><span style="font-size: 8pt;">2014 cum. ...</span></p>
<p style="text-align: justify; margin: 0cm 0cm 0pt 35.4pt; line-height: normal;">&nbsp;</p>
</td>
</tr>
<tr>
<td style="border-top: medium none; border-right: 1pt solid; width: 208px; border-bottom: 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top">
  <p>&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 134.65pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="180">
  <p>&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 163pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="217">
  <p>&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 177.2pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="236">
  <p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border-top: medium none; border-right: 1pt solid; width: 208px; border-bottom: 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top">
  <p>&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 134.65pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="180">
  <p>&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 163pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="217">
  <p>&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 177.2pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="236">
  <p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 155.95pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="208">
  <p>&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 134.65pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="180">
  <p>&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 163pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="217">
  <p>&nbsp;</p>
</td>
<td style="border-top: medium none; border-right: windowtext 1pt solid; width: 177.2pt; border-bottom: windowtext 1pt solid; border-left: medium none; padding: 0cm 5.4pt 0cm 5.4pt;" valign="top" width="236">
  <p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>