<table class='new'>
  <thead>
    <tr>
      <th>
        <h1>Italy</h1>
        <h1>Sicily, Calabria, Apulia, Lampedusa</h1>
      </th>
      <th>
        <h1>Malta</h1>
      </th>
      <th>
        <h1>Tunisia, Libya, Egypt,</h1>
        <h1>miscellaneous info</h1>
      </th>
      <th>
        <h1>UN, European Union</h1>
        <h1>Diplomacy, Politics, Law</h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <h2>Arrivals UNHCR</h2>
        <p class='bold'>2015 mon. ...</p>
        <p class='bold'>2015 cum. ...</p>
        <p>2014 mon. ...</p>
        <p>2014 cum. ...</p>
      </td>
      <td>
        <h2>Arrivals</h2>
        <p class='bold'>2015 mon. ...</p>
        <p class='bold'>2015 cum. ...</p>
        <p>2014 mon. ...</p>
        <p>2014 cum. ...</p>
      </td>
      <td>
        <h2>Victims</h2>
        <p class='bold'>2015 mon. ...</p>
        <p class='bold'>2015 cum. ...</p>
        <p>2014 mon. ...</p>
        <p>2014 cum. ...</p>
      </td>
      <td>
        <h2>Total Arrivals</h2>
        <p class='bold'>2015 mon. ...</p>
        <p class='bold'>2015 cum. ...</p>
        <p>2014 mon. ...</p>
        <p>2014 cum. ...</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>example event with <a href="http://blue-borders.ch">link</a></p>
      </td>
      <td>
        <p>&nbsp;</p>
      </td>
      <td>
        <p>&nbsp;</p>
      </td>
      <td>
        <p>&nbsp;</p>
      </td>
    </tr>
  </tbody>
</table>